body {
    background: #f2f2f2;
    font-family: Arial;
    text-align: center;
    padding-top: 80px;
}

.box {
    width: 85%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

.btn {
    display: inline-block;
    background: #007bff;
    padding: 12px 20px;
    color: #fff;
    border-radius: 8px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
